.HiringBlock{
    height: 30vh;
    background-color: #e3cdcd;
}
.container {
    border: 1px solid;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title {
    background-color: #7c8273;
    color: #ffffff;
}
.Hire{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #af8e8e;
}